<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Página principal</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./header.ejs') %>
    
    <div class="container">
      <h2 class="mb-4" style="text-align:center;font-weight:bold;">Mi Biografía</h2>
      <p style="text-align:center;">
        <img 
          src="https://image.flaticon.com/icons/png/512/2115/2115958.png"
          alt="Imagen PUCE" 
          class="img-fluid"
          style="width:150px;height:150px;"
        ></p>
      <p style="text-align:justify;background-color: #9c9c9cb0;">
        Hola soy Aaron Jaramillo Mera estoy cursando en el séptimo nivel de la carrera de Sistemas y computación en la PUCE. <br>
        Y esta pagina es para la materia de base de datos II.
      </p>
    </div>

  </body>
</html>
